:root {
  --dark: #004e36
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Circular Pro", Verdana, sans-serif;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

ul {
  display: flex;
}

/* Nav Bar */
.halfFoods {
  text-decoration: none;
  border-right: white solid 3px;
}

#navbarScroll > div:nth-child(1n+2) {
  padding: 0 15px;
}

.cart-closed > span {
  padding-left: 3px;
}

.cart-closed {
  cursor: pointer;
}

.nav-item {
  margin-right: 10px;
}

.nav-item > a {
  text-decoration: none;
  color: white;
  border-bottom: 3px transparent solid;
}

.nav-item > a:hover {
  color: white;
  border-bottom: 3px white solid;
}

/* Item cards */
.productName {
  text-decoration: none;
  color: black;
}

.productName:hover {
  cursor: pointer;
  color: #198754;
}

.card:hover {
  box-shadow: inset 0 -4px 0 0 #198754; 
}

.dropdown-toggle {
  margin-right: 5px
}

/* Checkout */
#checkoutDiv {
  width: 50%;
  margin: auto;
}

#pay {
  width: 100%;
}