:root {
  --dark: #004e36
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Circular Pro", Verdana, sans-serif;
}

li {
  list-style: none;
}

.nav-item > a {
  text-decoration: none;
  color: white;
  border-bottom: 3px transparent solid;
}

.nav-item > a:hover {
  color: white;
  border-bottom: 3px white solid;
}

/* Nav Bar */
.halfFoods {
  text-decoration: none;
  border-right: white solid 3px;
}