* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Circular Pro", Verdana, sans-serif;
}

/* .flex-row {
  display: flex;
  flex-wrap: nowrap;
}

.flex-nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.flex-vcenter {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

nav > ul > li {
  margin-right: calc(1rem * 0.5);
  margin-left: calc(1rem * 0.5);
} */